.navbar {
	position: fixed;
	height: 100%;
	top: 0;
	left: 0;
	/* height: inherit; */
	/* border: 2px solid red; */
	background-color: var(--primary-color);
	display: flex;
	flex-direction: column;
	/* gap: 10px; */
	z-index: 999;
	/* padding: 1rem 1rem; */
}

.big {
	min-width: 200px;
}
.small {
	min-width: 50px;
}

.navHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1rem 1rem;
}
.logoWrapper {
	width: 50px;
	height: 50px;
	object-fit: cover;
	/* border: 1px solid red; */
}

.logoWrapper img {
	width: 100%;
	height: 100%;
	/* object-fit: cover; */
}
.navLinks {
	margin-top: 20px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 1rem 1rem;
}

.navLinks ul {
	list-style: none;
}

.iconWrapper {
	width: 25px;
	height: 25px;
	/* border: 1px solid red; */
}
.iconWrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.smallSection {
	/* border: 1px solid orange; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.smallSection .bigSection {
	border: 1px solid greenyellow;
}

/* .bigSection ul {
	display: none;
} */

.expandButton {
	/* border: 1px solid white; */
	display: flex;
	justify-content: center;
	padding: 1rem 1rem;
}
