:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--primary-color: #0075b7;
	--secondary-color: #939393;
	--accent-color: #393e46;
	--background-color: #939393;
}

body {
	margin: 0;
}

.light {
	background-color: var(--background-color);
	color: var(--primary-color);
}

.dark {
	background-color: var(--primary-color);
	color: var(--background-color);
}

.mainRowFlex {
	display: flex;
	flex-direction: row;

	min-height: 100dvh;
}
